@model AllBlackFridayProductsViewModel


@{
    ViewBag.Title = "Black Friday";
}

<h1 class="text-center">Black Friday Promotions</h1>
<div class="row d-flex">
    @foreach (var item in Model.AllBlackFridayViewModels)
    {
        @if (item.TypeOfPromotion == TypeOfPromotion.BlackFriday)
        {

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/@item.Image" alt="Product image">
                    <div class="card-body">
                        <h5 class="card-title">Code Number: @item.Id</h5>
                        <h5 class="card-title">Category: @item.Category</h5>
                        <h5 class="card-title">Name: @item.Name</h5>
                        <h5 class="card-title">Price: @item.Price</h5>
                        <h5 class="card-title">Review: @item.Review</h5>
                        <h5 class="card-title">Description: @item.Description</h5>
                        <h5 class="card-title">Type Of Promotion: @item.TypeOfPromotion</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
        }

    }
</div>